{% extends 'Home/base.html' %}

{% block BASE_CONTENIDO %}

{% block INDEX_TITULO %}    
    Página de inicio
{% endblock INDEX_TITULO %}

    {% block INDEX_CONTENIDO %}

    <!-- Heading Row-->
    
     <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Sukata San Pedro</h1>
            <p>Academia de artes marciales mixtas</p>
            <a class="btn btn-primary" href="#!">Contactanos!</a>
        </div>
    </div>     
    
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        {% include 'Home/card.html' with card="Jiu Jitsu - Judo"%}
        {% include 'Home/card.html' with card="Grappling - MMA" %}
    </div>
    
    {% endblock INDEX_CONTENIDO %}

{% endblock BASE_CONTENIDO %}