{% extends 'Home/index.html' %}

{% block INDEX_TITULO %}
   Productos
   {% endblock INDEX_TITULO %}
   
   {% block INDEX_CONTENIDO %}
   <h3 class="pb-lg-3">Categoria de Productos</h3>

   <div class="d-grid gap-3">
      <a href="{% url 'producto:productocategoria_create' %}">Crear Categoría de Productos></a>
      <a href="{% url 'producto:productocategoria_list' %}">Listar Productos</a>>
   </div>

      <h3 class="pb-lg-3">Productos</h3>
      <div class="d-grid gap-3">

         <a href="{% url 'producto:producto_create' %}">Crear Productos></a>
         <a href="{% url 'producto:producto_list' %}">Listar Productos</a>>
      </div>

      <a href="{% url 'Home:home' %}">Volver</a>
{% endblock INDEX_CONTENIDO %}