{% extends 'producto/index.html' %}

{% block INDEX_TITULO %}
    Detalles de Productos
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
   <ul>
    <li>
        Categoria {{ object.categoria }}
    </li>
    <li>
        Nombre: {{ object.nombre }}
    </li>
    <li>
        Unidad de Medida: {{ object.unidad_de_medida }}
    </li>
    <li>
        Cantidad: {{ object.cantidad }}
    </li>
    <li>
        Precio: {{ object.precio }}
    </li>
    <li>
        Descripción: {{ object.descripcion }}
    </li>
    <li>
        Fecha de Actualización: {{ object.fecha_actualizacion }}
    </li>
   </ul>
    <a href="{% url 'Home:home' %}">Volver</a>
{% endblock INDEX_CONTENIDO %}