{% extends 'Home/base.html' %}

{% block TITULO %}
    Buscar Cliente
{% endblock TITULO %}

{% block CONTENIDO %}
    <h2>Clientes por nombre:</h2>
        {% for cliente in clientes_nombre %}
            <p>{{ cliente }}</p>
        {% endfor %}

    <h2>Clientes por fecha de nacimiento:</h2>
    {% for cliente in cliente_nacimiento %}
        <p>{{ cliente }}</p>
    {% endfor %}

    <h2>Clientes por pais de origen vacio:</h2>
    {% for cliente in cliente_pais %}
        <p>{{ cliente }}</p>
    {% endfor %}
     <a href="{% url 'Home:home' %}">Volver</a>
{% endblock CONTENIDO %}