<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Página de clientes registrados</h1>
        <h2>Clientes registrados:
            {% for cliente in clientes %}
                <p>{{ cliente.nombre }}</p>
                <p>{{ cliente.apellido }}</p>
                <p>{{ cliente.nacimiento }}</p>
                <p>{{ cliente.pais_origen_id }}</p>
            {% endfor %}
        </h2>

</body>
</html>